@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #010E1C;
    background-image: linear-gradient(to right, #010E1C, #152A3C);
    color: #ffffff;
}

/*----INICIO----*/
#inicio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 550px;
    height: 350px;
}

.card div {
    backface-visibility: hidden;
    -webkit-transition: 1s;
    transition: 1s;
    transform-style: preserve-3d;
}

/*----CARD FRONT----*/
.card .front {
    width: 550px;
    height: 350px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
    border: 1px solid rgba(255, 255, 255, rgba(255, 255, 255, .1));
    border-radius: 30px;
    transform: perspective(500px) rotateY(0deg);
    position: absolute;
}

.card .back {
    width: 550px;
    height: 350px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
    border: 1px solid rgba(255, 255, 255, rgba(255, 255, 255, .1));
    border-radius: 30px;
    transform: perspective(500px) rotateY(180deg);
    position: absolute;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #d5cccc24;
}

.top img {
    margin-left: 10px;
}

.top span {
    font-size: 20px;
    margin-left: -160px;

}

.top i {
    font-size: 30px;
    padding: 10px;
    border-radius: 30%;
}

.top i:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.top p {
    position: absolute;
    top: 50px;
    right: 15px;
    background: rgba(0, 0, 0, .15);
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease-in-out;
}

.top i:hover~p {
    opacity: 1;
    transition: .5 ease-in-out;
}

.middle {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 0 30px;
}

.middle img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    outline: 3px dashed rgba(255, 255, 255, .25);
}

.middle :right {
    margin: 20px 0 10px 50px;
}

ul li {
    list-style-type: circle;
}

.social-icon {
    display: flex;
    flex-direction: row;
}

.social-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    transition: .4s;
    cursor: pointer;
}

.social-icon i {
    font-size: 30px;
}

.social-icon a {
    text-decoration: none;
    color: white;
}

.social-icon span:hover {
    color: #3c79db;
    background: #ffffff;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0 15px #ffffff;
}

.social-icon .gmail:hover {
    color: red;
    background: #ffffff;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0 15px #ffffff;
}

.social-icon .github:hover {
    color: black;
    background: #ffffff;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0 15px #ffffff;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 30px;

}

.flip-button {
    background-color: aqua;
    color: #000000;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.flip-button:hover {
    background-color: #fff;
    color: #000000;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.card .front {
    transform: rotateY(0deg);
}

.card .back {
    transform: rotateY(180deg);
}

.flipped .front {
    transform: rotateY(180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}

/*----CARD BACK----*/
.top-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #d5cccc24;
    height: 50px;
    border-radius: 30px 30px 0 0;
}

.top-back-medio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #d5cccc24;
    height: 50px;
    background-color: black;
}

.middle-back {
    width: 100%;
    height: 190px;
    text-align: center;
    padding: 20px;
    padding-top: 80px;
}

.middle-back a {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: .4s;
}

.middle-back a:hover {
    color: #3c79db;
    font: 700;
    border-bottom: 2px solid white;
}

@media (max-width:767px) {

    /*----Inicio----*/
    #inicio {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .card {
        position: relative;
        margin: 0 auto;
        width: 350px;
        height: 600px;
    }

    .card .front {
        width: 350px;
        height: 600px;
        background-color: rgba(255, 255, 255, .1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
        border: 1px solid rgba(255, 255, 255, rgba(255, 255, 255, .1));
        border-radius: 30px;
        transform: perspective(500px) rotateY(0deg);
        position: absolute;
        margin: auto 0;
    }

    .card .back {
        width: 350px;
        height: 600px;
        background-color: rgba(255, 255, 255, .2);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
        border: 1px solid rgba(255, 255, 255, rgba(255, 255, 255, .1));
        border-radius: 30px;
        transform: perspective(500px) rotateY(180deg);
        position: absolute;
        margin: auto 0;
    }

    .top span {
        font-size: 16px;
        margin-left: -10px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px 0 30px;
    }

    .middle img {
        width: 150px;
        border-radius: 50%;
        border: 5px solid transparent;
        outline: 3px dashed rgba(255, 255, 255, .25);
        align-content: center;
        margin-left: 60px;
    }

    .middle .right {
        margin: 20px 0 10px 0px;
    }

    .middle label {
        font-size: 20px;
        padding-left: 15px;
    }



    ul li {
        list-style-type: circle;
    }

    .social-icon {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 30px 20px;
    }

    .social-icon span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ffffff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 0 5px;
        transition: .4s;
        cursor: pointer;
    }

    .social-icon i {
        font-size: 30px;
    }

    .social-icon a {
        text-decoration: none;
        color: white;
    }

    .social-icon span:hover {
        color: #3c79db;
        background: #ffffff;
        transform: translateY(-8px);
        box-shadow: inset 0 0 0 15px #ffffff;
    }

    .social-icon .gmail:hover {
        color: red;
        background: #ffffff;
        transform: translateY(-8px);
        box-shadow: inset 0 0 0 15px #ffffff;
    }

    .social-icon .github:hover {
        color: black;
        background: #ffffff;
        transform: translateY(-8px);
        box-shadow: inset 0 0 0 15px #ffffff;
    }

    .top-back {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        border-bottom: 1px solid #d5cccc24;
        height: 50px;
        border-radius: 30px 30px 0 0;
    }

    .top-back-medio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        border-bottom: 1px solid #d5cccc24;
        height: 50px;
        background-color: black;
    }

    .middle-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 190px;
        text-align: center;
        padding: 20px;
        padding-top: 80px;
    }

    .middle-back a {
        text-decoration: none;
        color: white;
        padding: 20px;
        transition: .4s;
    }

    .middle-back a:hover {
        color: aquamarine;
        font: 700;
        border-bottom: 2px solid white;
    }

    .card .front {
        transform: rotateY(0deg);
    }

    .card .back {
        transform: rotateY(180deg);
    }

    .flipped .front {
        transform: rotateY(180deg);
    }

    .flipped .back {
        transform: rotateY(0deg);
    }

    .button-back {
        margin-top: 240px;
    }
}

/*----Sobre Mi----*/
#sobre-mi {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container-sobre-mi h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
}

.contenido-sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 200px;
}

.contenido-sobre-mi img {
    border: 7px solid aqua;
    width: 350px;
    height: 520px;
}

.informacion-sobre-mi {
    padding-left: 40px;
}

.informacion-sobre-mi h1 {
    font-size: 50px;
    margin-bottom: -10px;
    font-family: "Inconsolata", monospace;
}

.informacion-sobre-mi span {
    font-size: 50px;
    margin-bottom: -10px;
    font-family: "Inconsolata", monospace;
}


.informacion-sobre-mi span {
    color: aqua;
}

.informacion-sobre-mi p {
    padding-top: 10px;
}

.informacion-sobre-mi-typing {
    animation: animacion 10s steps(35) infinite, transparente .5s step-end infinite alternate;
    width: 560px;
    white-space: nowrap;
    font-size: 50px;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes animacion {
    0% {
        width: 0;
    }

    50% {
        width: 500px;
    }

    100% {
        width: 520px;
    }
}

@keyframes transparente {
    50% {
        border-color: transparent;
    }

}

.informacion-sobre-mi a {
    text-decoration: none;
    float: right;
    padding: 15px 10px;
    border-radius: 30px;
    color: black;
    margin-right: 40px;
    background-color: aqua;
    transition: 0.3s ease-in-out;
}

.informacion-sobre-mi a:hover {
    background-color: #fff;
    color: black;
}

@media (max-width:767px) {

    /*----Sobre Mi----*/
    .contenido-sobre-mi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 0 20px 0 20px;
    }

    .contenido-sobre-mi img {
        border: 7px solid aqua;
        width: 300px;
        height: 350px;
    }

    .informacion-sobre-mi {
        padding: 10px;
    }

    .informacion-sobre-mi h1 {
        font-size: 30px;
        font-family: "Inconsolata", monospace;
    }

    .informacion-sobre-mi span {
        font-size: 30px;
        font-family: "Inconsolata", monospace;
    }


    .informacion-sobre-mi span {
        color: aqua;
    }

    .informacion-sobre-mi p {
        padding-top: 10px;
        text-align: justify;
    }


    .informacion-sobre-mi-typing {
        animation: none;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        border-right: none;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    /*----Sobre Mi----*/
    .contenido-sobre-mi {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 0 20px 0 20px;
    }

    .contenido-sobre-mi img {
        border: 7px solid aqua;
        width: 300px;
        height: 350px;
    }

    .informacion-sobre-mi {
        padding: 40px;
    }

    .informacion-sobre-mi h1 {
        font-size: 30px;
        font-family: "Inconsolata", monospace;
    }

    .informacion-sobre-mi span {
        font-size: 30px;
        font-family: "Inconsolata", monospace;
    }

    .informacion-sobre-mi span {
        color: aqua;
    }

    .informacion-sobre-mi p {
        padding-top: 10px;
        text-align: justify;
    }

    .informacion-sobre-mi-typing {
        animation: none;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        border-right: none;
    }
}

/*----Portafolio----*/
#estudios {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container-estudios h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contenido article {
    margin: 10px;
    max-width: 460px;
    transition: box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 16px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
}

.contenido article img {
    border-radius: 16px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
}

.contenido article h3,
.contenido article p {
    margin: 16px;
}

.contenido .python,
.java,
.spring,
.html,
.css,
.js {
    border: 3px solid #010E1C;
    color: white;
    border-radius: 10%;
    background-color:#010E1C;
    padding: 5px;
    font-size: 12px;
    margin-right: 3px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.lenguaje .python {
    background-image: url("/img/piton.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 20px;
}

.java {
    background-image: url("/img/java.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 20px;
}

.spring {
    background-image: url("/img/springboot.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 20px;
}

.html {
    background-image: url("/img/html-5.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 20px;
}

.css {
    background-image: url("/img/css-3.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 20px;
}

.js {
    background-image: url("/img/js.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    background-size: 18px;
}

.lenguaje {
    padding: 0px 0px 30px 15px;
}

@media (max-width:767px) {
    .contenido {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;

    }

    .contenido article {
        margin: 10px;
        max-width: 320px;
        transition: box-shadow 0.3s ease;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 16px;
        box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
    }

    .contenido article img {
        border-radius: 16px;
        box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
        width: 320px;
    }

    .contenido .js {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .contenido {
        display: grid;
        grid-gap: 20px;
    }

    .contenido article {
        margin: 10px;
        max-width: 320px;
        transition: box-shadow 0.3s ease;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 16px;
        box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
    }

    .contenido article img {
        border-radius: 16px;
        box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
        width: 320px;
    }

    .contenido .js {
        display: none;
    }
}

/*----PORTAFOLIO----*/
#portafolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.container-portafolio h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 100px;
    margin: 0 auto;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, .1);
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    text-align: start;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: aquamarine;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: black;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: black;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: black;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-courses_box {

        padding: 50px 10px;

    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

/*----HABILIDADES----*/
#habilidades {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.habilidades .contenido-seccion {
    max-width: 1300px;
    margin: auto 0;

}

.container-habilidades {
    height: 100%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.container-habilidades h2 {
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.contenido-habilidades {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.contenido-habilidades article {
    background-color: rgba(255, 255, 255, .3);
    width: 300px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
    margin: 20px;
}

.contenido-habilidades article span {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.contenido-frontend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 30px 0 20px;
}

.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #010E1C;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    padding: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.imagen p {
    font-size: 12px;
}

.contenido-backend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 30px 0 20px;
}

.contenido-aprendiendo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 30px 0 20px;
}

.contenido-herramientas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 30px 0 20px;
}


.contenido-habilidades img {
    padding-top: 20px;
}

@media (max-width:767px) {
    .contenido-habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;/
    }

    .habilidades .contenido-seccion {
        max-width: 750px;
        margin: auto;
    }

    .contenido-habilidades article {
        margin: 20px;
    }

}

@media(min-width:768px) and (max-width:1500px) {
    .contenido-habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .habilidades .contenido-seccion {
        max-width: 750px;
        margin: auto;
    }

    .contenido-habilidades article {

        margin: 20px;
    }
}

/*----FOOTER----*/
footer {
    padding: 48px;
    color: #fff;
}

footer section {
    float: right
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    color: aquamarine;
}